body{
	background: url("../image/playa.jpg") no-repeat;
	background-attachment: fixed;
}

#titulo{
	width: 40%;
	background-color:rgba(255,255,255,0.8);
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	padding-top: 1%;
	margin-left: 29%;
	margin-top: 5%;

}

#titulo small{
	color:#000000;
}

#image1{
	margin-left: 41%;
}

#ut{
	float: left;
	margin-left: 5%;
}

#login{
	width: 40%;
	margin-left: 29%;
	background-color:rgba(255,255,255,0.8);
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
	padding-left: 11%;
	padding-top: 5%;
}

#login strong{
	color:#000;
}

#image2{
	float:right;
	margin-right: 27%;
}
