<?php 
	if(!isset($_SESSION["permisos"])) {
		header("Location: ../index.php?error");
	}
	require_once("../model/DAOlogin.php");
	$dblogin = new DAOlogin();
	if ($_SESSION["permisos"] == 2) { //en caso de que sea profesor
		$user = $dblogin->getInfoProfesor($_SESSION["user"]);
		$username = $user[0]->nombres;
	}
	elseif ($_SESSION["permisos"] == 3) { //en caso de que sea alumno
		$user = $dblogin->getInfoAlumno($_SESSION["user"]);
		$username = $user[0]->nombres;
	}
	else {
		$username = "Admin";
	}
?>
	<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
				<span class="sr-only">Menú</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="index.php" class="navbar-brand">SUC: Sistema Único de Calificaciones</a>
		</div>
		<div class="collapse navbar-collapse" id="menu">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="Asistencia.php">Asistencia</a></li>
				<li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">Catálogos<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="Alumnos.php">Alumnos</a></li>
						<li><a href="Grupos.php">Grupos</a></li>
						<li><a href="Profesores.php">Profesores</a></li>
						<li><a href="Materias.php">Materias</a></li>
						<li><a href="GruposMaterias.php">Asignaturas</a></li>
						<li><a href="Usuarios.php">Usuarios</a></li>
						<li><a href="Carreras.php">Carreras	</a></li>
					</ul>
				</li>
				<li><a href="">EVA</a></li>
				<li class="dropdown">
					<a href="" data-toggle="dropdown"><?php echo $username ?><span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="../model/logout.php">Cerrar Sesión</a></li>	
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>